!.gitkeep
.DS_Store
.idea
.notes
build
bower_components
contracts.txt
dist
logs
node_modules
secrets.json
truffle.js
vestingSchedules.json

.project
.settings
audit/test/testchain/geth
audit/test/testchain/geth.ipc
audit/test/testchain/history
audit/test/contracts
private
